@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    DRH<br />
    Campus do IPS - Estefanilha, 2910-761 Setúbal<br />
    <abbr title="Phone">P:</abbr>
    265 548 820
</address>

